.DS_Store
web.config
_favicon.ico
Thumbs.db

/.idea/*
/.vscode/*
/bitrix/*
/upload/*

## Исключения всех файлов даннго типа (не вносить что попало!)
*.tar
*.rar
*.gz
*.zip
*.zip.*
*.7z
*.csv
*.txt
*.log
*.pdf
*.psd
*.doc
*.docx
*.xls
*.xlsx
*.sass-cache

## Исключения файлов в корне /
/robots*.txt
/google*.html
/yandex*.html
/sitemap*.xml
/*.png